body{
    margin: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    background-color: pink;
}
.giorgio{
    color:tomato; 
    margin-left: 118mm;
}
.amo{
    text-shadow: grey;
    text-align-last: center;
}
.leggi{
    color: red;
    text-align-last: center;
}
.gg{
    text-align-last: center;
}
.gigino{
    text-align: center;
    border-left: 125mm;
    text-align: center;
    text-align-last: center;
    margin-left: auto;
    border-left: auto;
    margin-left: 120mm;
}
input, p{
    font-weight: bold;
    margin-left: auto;
    border-left: auto;
    text-align: center;
    text-align-last: center;
}
.nn{
    color: brown;
    text-align-last: center;
}