body{
    margin: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    background-color: pink;
    text-align-last: center;
}
.leggi{
    color: red;
    text-align-last: center;
    text-align-last: center;
}
.pierino{
    color:brown;
    text-align-last: center;
}
.pino{
    text-align-last: center;
}
.miei{
    text-align-last: center;
    text-transform: uppercase;
    font: caption;
    font-family: cursive;
}
.nonno{
    position: fixed;
    text-align-last: center;
    margin-left: 130mm;
}
.nonnino{
    position: fixed;
    text-align-last: center;
    margin-left: 110mm;
}