head{
    text-align: center;
}
body{
    margin: 0px; 
    margin-right: 0px; 
    margin-bottom: 50px; 
    background-color: pink;
    text-align: center;
}
.leggi{
    color: red;
    text-align-last: center;
    text-align: center;
}
.pierino{
    color:brown;
    text-align: center;
}
.pino{
    text-align: center;
}
.miei{
    text-align: center;
    text-transform: uppercase;
    font: caption;
    font-family: cursive;
}
#noo{
    position: fixed;
    bottom: auto;
}
@media (max-width: 1200px) {
}

@media (max-width: 980px) { 


}

@media (max-width: 767px) {


}

@media (max-width: 480px) {
    text-transform: animation: border-right: border-right: ;;;;

}